<h4 style="margin-left: 2%;margin-top: 1%">Supplier details:</h4>
<br/>
<div style="margin-left: 4%;margin-top: 2%">
  <span><span style="font-weight: bold">Company name: </span>{{supplier.companyName}}</span>
  <br/>
  <span><span style="font-weight: bold">Contact name: </span>{{supplier.contactName}}</span>
  <br/>
  <span><span style="font-weight: bold">Contact title: </span>{{supplier.contactTitle}}</span>
  <br/>
  <span><span style="font-weight: bold">Address: </span>{{supplier.address}}</span>
  <br/>
  <span><span style="font-weight: bold">City: </span>{{supplier.city}}</span>
  <br/>
  <span><span style="font-weight: bold">Region: </span>{{supplier.region}}</span>
  <br/>
  <span><span style="font-weight: bold">Postal code: </span>{{supplier.postalCode}}</span>
  <br/>
  <span><span style="font-weight: bold">Country: </span>{{supplier.country}}</span>
  <br/>
  <span><span style="font-weight: bold">Phone: </span>{{supplier.phone}}</span>
  <br/>
  <span><span style="font-weight: bold">Fax: </span>{{supplier.fax}}</span>
  <br/>
  <span><span style="font-weight: bold">Home page: </span>{{supplier.homePage}}</span>
</div>
